---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-enginefeatures-everest-percona-com-v1alpha1-splithorizondnsconfig
  failurePolicy: Fail
  name: msplithorizondnsconfig-v1alpha1.enginefeatures.everest.percona.com
  rules:
  - apiGroups:
    - enginefeatures.everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - splithorizondnsconfigs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-everest-percona-com-v1alpha1-databasecluster
  failurePolicy: Fail
  name: mdatabasecluster-v1alpha1.everest.percona.com
  rules:
  - apiGroups:
    - everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - databaseclusters
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-everest-percona-com-v1alpha1-dataimportjob
  failurePolicy: Fail
  name: mdataimportjobs-v1akpha1.everest.percona.com
  rules:
  - apiGroups:
    - everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - dataimportjobs
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-enginefeatures-everest-percona-com-v1alpha1-splithorizondnsconfig
  failurePolicy: Fail
  name: vsplithorizondnsconfig-v1alpha1.enginefeatures.everest.percona.com
  rules:
  - apiGroups:
    - enginefeatures.everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - splithorizondnsconfigs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-everest-percona-com-v1alpha1-databasecluster
  failurePolicy: Fail
  name: vdatabasecluster-v1alpha1.everest.percona.com
  rules:
  - apiGroups:
    - everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - databaseclusters
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-everest-percona-com-v1alpha1-loadbalancerconfig
  failurePolicy: Fail
  name: vloadbalancerconfig-v1alpha1.everest.percona.com
  rules:
  - apiGroups:
    - everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - loadbalancerconfigs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-everest-percona-com-v1alpha1-monitoringconfig
  failurePolicy: Fail
  name: vmonitoringconfig-v1alpha1.everest.percona.com
  rules:
  - apiGroups:
    - everest.percona.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - monitoringconfigs
  sideEffects: None
