apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: everest-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: BackupStorage is the Schema for the backupstorages API.
      displayName: Backup Storage
      kind: BackupStorage
      name: backupstorages.everest.percona.com
      version: v1alpha1
    - description: DatabaseClusterBackup is the Schema for the databaseclusterbackups
        API.
      displayName: Database Cluster Backup
      kind: DatabaseClusterBackup
      name: databaseclusterbackups.everest.percona.com
      version: v1alpha1
    - description: DatabaseClusterRestore is the Schema for the databaseclusterrestores
        API.
      displayName: Database Cluster Restore
      kind: DatabaseClusterRestore
      name: databaseclusterrestores.everest.percona.com
      version: v1alpha1
    - description: DatabaseCluster is the Schema for the databaseclusters API.
      displayName: Database Cluster
      kind: DatabaseCluster
      name: databaseclusters.everest.percona.com
      version: v1alpha1
    - description: DatabaseEngine is the Schema for the databaseengines API.
      displayName: Database Engine
      kind: DatabaseEngine
      name: databaseengines.everest.percona.com
      version: v1alpha1
    - description: DataImporter defines a reusable strategy for importing data into
        a DatabaseCluster.
      displayName: Data Importer
      kind: DataImporter
      name: dataimporters.everest.percona.com
      version: v1alpha1
    - description: DataImportJob is the schema for the dataimportjobs API.
      displayName: Data Import Job
      kind: DataImportJob
      name: dataimportjobs.everest.percona.com
      version: v1alpha1
    - description: LoadBalancerConfig is the Schema for the Load Balancer Config API.
      displayName: Load Balancer Config
      kind: LoadBalancerConfig
      name: loadbalancerconfigs.everest.percona.com
      version: v1alpha1
    - description: MonitoringConfig is the Schema for the monitoringconfigs API.
      displayName: Monitoring Config
      kind: MonitoringConfig
      name: monitoringconfigs.everest.percona.com
      version: v1alpha1
    - description: PodSchedulingPolicy is the Schema for the Pod Scheduling Policy
        API.
      displayName: Pod Scheduling Policy
      kind: PodSchedulingPolicy
      name: podschedulingpolicies.everest.percona.com
      version: v1alpha1
    - description: SplitHorizonDNSConfig is the Schema for the splithorizondnsconfigs
        API.
      displayName: Split Horizon DNSConfig
      kind: SplitHorizonDNSConfig
      name: splithorizondnsconfigs.enginefeatures.everest.percona.com
      version: v1alpha1
  description: Deploy database clusters easily with Everest operator
  displayName: Everest operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: true
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - everest
  - dbaas
  - percona
  links:
  - name: Everest Operator
    url: https://everest-operator.domain
  maintainers:
  - email: diogo.recharte@percona.com
    name: diogo-recharte
  - email: mayank.shah@percona.com
    name: mayank-shah
  - email: oksana.grishchenko@percona.com
    name: oksana-grishchenko
  - email: michal.kralik@percona.com
    name: michal-kralik
  maturity: alpha
  provider:
    name: Percona
    url: https://percona.com
  version: 0.0.0
