# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/everest.percona.com_databaseclusters.yaml
- bases/everest.percona.com_databaseengines.yaml
- bases/everest.percona.com_databaseclusterrestores.yaml
- bases/everest.percona.com_databaseclusterbackups.yaml
- bases/everest.percona.com_backupstorages.yaml
- bases/everest.percona.com_monitoringconfigs.yaml
- bases/everest.percona.com_dataimportjobs.yaml
- bases/everest.percona.com_dataimporters.yaml
- bases/everest.percona.com_podschedulingpolicies.yaml
- bases/everest.percona.com_loadbalancerconfigs.yaml
- bases/enginefeatures.everest.percona.com_splithorizondnsconfigs.yaml
# +kubebuilder:scaffold:crdkustomizeresource

patches:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
# +kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- path: patches/cainjection_in_databaseclusters.yaml
#- path: patches/cainjection_in_databaseengines.yaml
#- path: patches/cainjection_in_databaseclusterrestores.yaml
#- path: patches/cainjection_in_databaseclusterbackups.yaml
#- path: patches/cainjection_in_backupstorages.yaml
#- path: patches/cainjection_in_monitoringconfigs.yaml
# +kubebuilder:scaffold:crdkustomizecainjectionpatch

# [WEBHOOK] To enable webhook, uncomment the following section
# the following config is for teaching kustomize how to do kustomization for CRDs.

#configurations:
#- kustomizeconfig.yaml
