name: Build and Push images

on:
  push:
    branches:
      - main

env:
  GONOPROXY: 'github.com/percona'
  GONOSUMDB: 'github.com/percona'
  GOPRIVATE: 'github.com/percona'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TOOLS_PATH: "/opt/tools/bin"

    steps:
      - name: Check out
        uses: actions/checkout@v5

      - name: Set up Go release
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Install operator-sdk
        run: |
          make operator-sdk

      - name: Make operator and bundle
        run: |
          make build manifests bundle

      - name: Docker operator meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            perconalab/everest-operator
          tags: |
            type=raw,value=0.0.0,enable=${{ contains(github.ref_name, 'main') }}

      - name: Docker bundle meta
        id: bundle_meta
        uses: docker/metadata-action@v5
        with:
          images: |
            perconalab/everest-operator-bundle
          tags: |
            type=raw,value=0.0.0,enable=${{ contains(github.ref_name, 'main') }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push operator image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Build and Push bundle image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.bundle_meta.outputs.tags }}
          file: bundle.Dockerfile
