name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  golang-tests:
    name: Go unit tests
    timeout-minutes: 30
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest
    env:
      TOOLS_PATH: "/opt/tools/bin"
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up Go release
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'
          check-latest: true

      - name: Install tools
        run: |
          mkdir -p $TOOLS_PATH
          echo $TOOLS_PATH >> $GITHUB_PATH
          curl -LO https://dl.k8s.io/release/v$KUBECTL_VERSION/bin/linux/amd64/kubectl
          curl -LO "https://dl.k8s.io/v$KUBECTL_VERSION/bin/linux/amd64/kubectl.sha256"
          echo "$(cat kubectl.sha256)  kubectl" | sha256sum --check
          chmod +x kubectl
          cp kubectl "$TOOLS_PATH"
          rm kubectl
        env:
          KUBECTL_VERSION: 1.23.6
      - name: Run tests
        run:
          make test
        env:
          PXC_OPERATOR_VERSION: 1.11.0
          PSMDB_OPERATOR_VERSION: 1.11.0

    #kind-e2e-tests:
    #  name: E2E tests (Kind)
    #  timeout-minutes: 30
    #  strategy:
    #    fail-fast: true
    #  runs-on: ubuntu-latest
    #  env:
    #    TOOLS_PATH: "/opt/tools/bin"
    #  steps:
    #    - name: Check out code into the Go module directory
    #      uses: actions/checkout@v3

    #    - name: Set up Go release
    #      uses: actions/setup-go@v3
    #      with:
    #        go-version: '1.18'
    #        check-latest: true

    #    - name: Build operator
    #      run:
    #        make build

    #    - name: Install tools
    #      run: |
    #        mkdir -p $TOOLS_PATH
    #        echo $TOOLS_PATH >> $GITHUB_PATH
    #        # Kubectl
    #        curl -LO https://dl.k8s.io/release/v$KUBECTL_VERSION/bin/linux/amd64/kubectl
    #        curl -LO "https://dl.k8s.io/v$KUBECTL_VERSION/bin/linux/amd64/kubectl.sha256"
    #        echo "$(cat kubectl.sha256)  kubectl" | sha256sum --check
    #        chmod +x kubectl
    #        cp kubectl "$TOOLS_PATH"
    #        rm kubectl
    #        # Kind
    #        curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.17.0/kind-linux-amd64
    #        chmod +x ./kind
    #        mv ./kind "$TOOLS_PATH"
    #        # Kuttl
    #        curl -Lo ./kubectl-kuttl https://github.com/kudobuilder/kuttl/releases/download/v0.14.0/kubectl-kuttl_0.14.0_linux_x86_64
    #        chmod +x ./kubectl-kuttl
    #        mv ./kubectl-kuttl "$TOOLS_PATH"
    #      env:
    #        KUBECTL_VERSION: 1.23.6
    #    - name: Run tests
    #      run:
    #        kubectl kuttl test --start-kind --config ./e2e-tests/kuttl.yml
    #      env:
    #        PXC_OPERATOR_VERSION: 1.11.0
    #        PSMDB_OPERATOR_VERSION: 1.11.0

  eks-e2e-tests:
    name: E2E tests (EKS)
    timeout-minutes: 50
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest
    env:
      TOOLS_PATH: "/opt/tools/bin"
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up Go release
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'
          check-latest: true

      - name: Build operator
        run:
          make build

      - name: Install tools
        run: |
          mkdir -p $TOOLS_PATH
          echo $TOOLS_PATH >> $GITHUB_PATH
          # Kubectl
          curl -LO https://dl.k8s.io/release/v$KUBECTL_VERSION/bin/linux/amd64/kubectl
          curl -LO "https://dl.k8s.io/v$KUBECTL_VERSION/bin/linux/amd64/kubectl.sha256"
          echo "$(cat kubectl.sha256)  kubectl" | sha256sum --check
          chmod +x kubectl
          cp kubectl "$TOOLS_PATH"
          rm kubectl
          # Kind
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.17.0/kind-linux-amd64
          chmod +x ./kind
          mv ./kind "$TOOLS_PATH"
          # Kuttl
          curl -Lo ./kubectl-kuttl https://github.com/kudobuilder/kuttl/releases/download/v0.14.0/kubectl-kuttl_0.14.0_linux_x86_64
          chmod +x ./kubectl-kuttl
          mv ./kubectl-kuttl "$TOOLS_PATH"
        env:
          KUBECTL_VERSION: 1.23.6
      - name: Run tests
        run: |
          export KUBECONFIG="${HOME}/.kube/config"
          mkdir -p "${KUBECONFIG%/*}"
          echo "$BASE64_KUBECONFIG_DBAAS"|base64 -d > "${KUBECONFIG}"
          kubectl kuttl test --config ./e2e-tests/kuttl-eks.yml
        env:
          PXC_OPERATOR_VERSION: 1.11.0
          PSMDB_OPERATOR_VERSION: 1.11.0
          BASE64_KUBECONFIG_DBAAS: ${{ secrets.BASE64_KUBECONFIG_DBAAS }}

  make-bundle:
    name: Make Bundle
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest
    env:
      TOOLS_PATH: "/opt/tools/bin"

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Go release
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'
          check-latest: true

      - name: Install operator-sdk
        run: |
          mkdir -p $TOOLS_PATH
          echo $TOOLS_PATH >> $GITHUB_PATH

          export ARCH=$(case $(uname -m) in x86_64) echo -n amd64 ;; aarch64) echo -n arm64 ;; *) echo -n $(uname -m) ;; esac)
          export OS=$(uname | awk '{print tolower($0)}')

          export OPERATOR_SDK_DL_URL=https://github.com/operator-framework/operator-sdk/releases/download/v1.25.2
          curl -LO ${OPERATOR_SDK_DL_URL}/operator-sdk_${OS}_${ARCH}

          gpg --keyserver keyserver.ubuntu.com --recv-keys 052996E2A20B5C7E

          curl -LO ${OPERATOR_SDK_DL_URL}/checksums.txt
          curl -LO ${OPERATOR_SDK_DL_URL}/checksums.txt.asc
          gpg -u "Operator SDK (release) <cncf-operator-sdk@cncf.io>" --verify checksums.txt.asc

          grep operator-sdk_${OS}_${ARCH} checksums.txt | sha256sum -c -

          chmod +x operator-sdk_${OS}_${ARCH}
          mv operator-sdk_${OS}_${ARCH} $TOOLS_PATH/operator-sdk

      - name: Make bundle and build bundle image
        run: |
          make bundle bundle-build
